.game {
  border: 2px solid red;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.game > * {
  margin: 20px 0px;
}

.title {
  font-size: 2rem;
}

.score {
  font-size: 1rem;
}

.choosing {
  width: 80%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.choosing > *,
.choosing > div > * {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  transition: 0.1s ease-in-out;
}

/* .choosed > *:hover {
  background: #4b2cff;
}

.choosing > *:hover {
  background: #002cff;
} */

.choice {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.choice > * {
  margin-bottom: 10px;
}

.status {
  font-size: 1.5rem;
}
